@font-face {
    font-family: LDFComicSans;
    src: url(LDFComicSans.ttf);
}

html {
  font-family: LDFComicSans;
}

.matchupBoard{
  position: relative;
  border: 2px solid pink;
  width: 75%;
  height: 500px;
  
  background-image: url("gameBoard.jpg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  display:inline-block;


  padding-top:20px;
}

.col{
  padding:0px !important;
}

.player{
  float: left !important;
}
.player:hover{
  background: white;
}
.teamBtn:hover{
  background: white;
}

.separator{
  padding:50px;
}

.submitBtn{
  color: black;
  position: absolute;
  bottom: 0px;
  left: 0px;
}